<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518383272256-v6u4gd8t51921qpeo41k24jle2k1t5qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518383272256-v6u4gd8t51921qpeo41k24jle2k1t5qr</string>
	<key>API_KEY</key>
	<string>AIzaSyDRL8RlQ_TKZ1GYjcH_GCMuMhhEUbtQz1E</string>
	<key>GCM_SENDER_ID</key>
	<string>518383272256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplicationYt</string>
	<key>PROJECT_ID</key>
	<string>chat-yt-a1b0e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-yt-a1b0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518383272256:ios:2d9c1403d5ab5fe6d33aa5</string>
</dict>
</plist>